<div>
    <h3>Result</h3>
    <div>
        <h4>Original word: </h4>
        <p><%= word%></p>
    </div>
    <div>
        <h4>Number to transfer: </h4>
        <p><%= number%></p>
    </div>
    <div>
        <h4>Result: </h4>
        <p><%= result%></p>
    </div>
</div>
<form action="/", method="GET">
    <input type="submit">
</form>