<div>
    <form action='/' method="POST">
        <input type="text" name="text" placeholder="Enter the word"/>
        <input type="number" name="number" placeholder="Enter the number"/>
        <input type="submit">
    </form>
</div>