<html>
    <head>
        <title>Caesar Cipher</title>
        <style>
           *{
        text-align: center;
        box-sizing: border-box;

    }
    body{
        background-color: lightcoral;
    }
    input{
        display: block;
        padding: 10px;
        font-size: 15px;
        margin: 10px auto;
    }
    
        </style>
    </head>
    <body>
       <h1> Caesar Cipher</h1>
        <%= yield %>
    </body>
    
</html>